* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
@font-face {
    font-family: norse-bold;
    src: url("./fonts/Norse-Bold.otf")
  }
body {
    height: 100vh;
    display: flex;
}
.background-image {
    flex: 1;
    flex-grow: 2;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.dark-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(((100vh / 14) * 9));
    height: 140px;
    background-color: rgba(0, 0, 0, 0.507);
}
.odin-logo {
    background-image: url(./images/odin-lined.png);
    background-size: cover;
    height: 120px;
    width: 90px;
}
.odin-text {
    font-family: norse-bold;
    font-size: 95px;
    color: white;
}
.sign-up-form {
    flex: 1;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}
.block-text {
    background-color: #eff1f3;
    flex: 1;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 40px;
    padding-bottom: 45px;
    gap: 20px;
}
.text1 {
    font-size: 22px;
    font-weight: 500;
    width: 570px;
}
.text2 {
    font-size: 22px;
    font-weight: 500;
}
.block-text>div>span {
    font-style: italic;
}
.block-form {
    flex: 1;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 20px;
    justify-content: center;
}
.header {
    font-size: 22px;
    font-weight: 500;
}
.form {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 15px;
    align-content: center;
}
.form-input {
    display: flex;
    flex-direction: column;
}
.form-input label {
    font-size: 10px;
    font-weight: 500;
}
.form-input>input {
    width: 210px;
    height: 25px;
    border: 1px solid #E5E7EB;
}
/* .form-input>input:focus {
    border: 5px solid rgb(166, 255, 0);
} */
/* .form-input>input:invalid {
    border: 1px solid rgb(255, 0, 0);
} */
.block-button {
    background-color: #eff1f3;
    flex: 1;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 30px;
    gap: 25px;
}
.button {
    height: 40px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    background-color: #596D48;
    color: white;
}
.account-text {
    font-size: 15px;
}
a {
    color: green;
}